In [1]:
import numpy as np
import pandas as pd

In [2]:
patients = pd.read_csv('IndividualDetails.csv')

In [3]:
patients

,id,government_id,diagnosed_date,age,gender,detected_city,detected_district,detected_state,nationality,current_status,status_change_date,notes
0,0,KL-TS-P1,30/01/2020,20,F,Thrissur,Thrissur,Kerala,India,Recovered,14/02/2020,Travelled from Wuhan
1,1,KL-AL-P1,02/02/2020,NaN,NaN,Alappuzha,Alappuzha,Kerala,India,Recovered,14/02/2020,Travelled from Wuhan
2,2,KL-KS-P1,03/02/2020,NaN,NaN,Kasaragod,Kasaragod,Kerala,India,Recovered,14/02/2020,Travelled from Wuhan
3,3,DL-P1,02/03/2020,45,M,East Delhi (Mayur Vihar),East Delhi,Delhi,India,Recovered,15/03/2020,"Travelled from Austria, Italy"
4,4,TS-P1,02/03/2020,24,M,Hyderabad,Hyderabad,Telangana,India,Recovered,02/03/2020,"Travelled from Dubai to Bangalore on 20th Feb,..."
...,...,...,...,...,...,...,...,...,...,...,...,...
8467,8468,NaN,12/04/2020,NaN,NaN,NaN,NaN,West Bengal,NaN,Hospitalized,12/04/2020,NaN
8468,8469,NaN,12/04/2020,NaN,NaN,NaN,NaN,West Bengal,NaN,Hospitalized,12/04/2020,NaN
8469,8470,NaN,12/04/2020,NaN,NaN,NaN,NaN,West Bengal,NaN,Hospitalized,12/04/2020,NaN
8470,8471,NaN,12/04/2020,NaN,NaN,NaN,NaN,West Bengal,NaN,Hospitalized,12/04/2020,NaN
8471,8472,NaN,12/04/2020,NaN,NaN,NaN,NaN,West Bengal,NaN,Hospitalized,12/04/2020,NaN

In [4]:
patients['current_status'].value_counts()

current_status
Hospitalized    8301
Recovered        139
Deceased          30
Migrated           1
Name: count, dtype: int64

In [5]:
total = patients.shape[0]

In [10]:
total = patients.shape[0]
active=patients[patients['current_status'] =='Hospitalized'].shape[0]
recovered = patients[patients['current_status']=='Recovered'].shape[0]
deaths = patients[patients['current_status']=='Deceased'].shape[0]

In [12]:
pbar = patients['detected_state'].value_counts().reset_index()
pbar

                 detected_state  count
0                   Maharashtra   1761
1                         Delhi   1069
2                    Tamil Nadu    969
3                     Rajasthan    700
4                Madhya Pradesh    529
5                     Telangana    503
6                       Gujarat    468
7                 Uttar Pradesh    452
8                Andhra Pradesh    405
9                        Kerala    373
10                    Karnataka    226
11            Jammu and Kashmir    224
12                      Haryana    179
13                       Punjab    158
14                  West Bengal    134
15                        Bihar     64
16                       Odisha     54
17                  Uttarakhand     35
18             Himachal Pradesh     32
19                        Assam     29
20                 Chhattisgarh     25
21                   Chandigarh     19
22                    Jharkhand     17
23                       Ladakh     15
24  Andaman and Nicobar Islands     11
25                   Puducherry      7
26                          Goa      7
27                      Manipur      2
28                      Tripura      2
29                      Mizoram      1
30            Arunachal Pradesh      1
31       Dadra and Nagar Haveli      1

In [14]:
npat = patients[patients['current_status']=='Recovered']
pbar = npat['detected_state'].value_counts().reset_index()
pbar

      detected_state  count
0             Kerala     58
1          Karnataka     39
2            Haryana     12
3      Uttar Pradesh      6
4         Tamil Nadu      6
5          Rajasthan      3
6        West Bengal      3
7              Delhi      2
8     Andhra Pradesh      2
9        Maharashtra      2
10         Telangana      1
11      Chhattisgarh      1
12       Uttarakhand      1
13           Gujarat      1
14  Himachal Pradesh      1
15           Manipur      1